@using MailKit
@using Microsoft.AspNetCore.Identity
@using WonderDevBlogMVC2024.Data
@using WonderDevBlogMVC2024.Services;
@using WonderDevBlogMVC2024.Services.Interfaces
@inject IImageService imageService;
@inject UserManager<ApplicationUser> userManager;
@model WonderDevBlogMVC2024.Models.Post


<PageTitle>@Model.Title</PageTitle>
<!--Page Banner-->
<!--add hero section here-->
    <div class="hero-container-xxl d-flex flex-column flex-md-row">
        <!--title content goes here-->
        <div class="flex-grow-1 d-flex align-items-center justify-content-center justify-content-md-end">
            <div class="mt-3 text-center text-md-end pe-3">
                <h1 class="text-light">@Model.Title?.ToUpper()</h1>
                <h2 class="text-light">@Model.Abstract</h2>
            </div>
            <article>
                <div class="container">
                    <h4>Post</h4>
                    <hr />
                    <div class="row">
                        <div class = "col-lg-8 col-md-10 mx-auto">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                </div>
            </article>
            <hr/>
        </div>
        @if (User.Identity!.IsAuthenticated)
        {
            <form asp-action="Create" asp-controller="Comments" method="post">
                @Html.Hidden("PostId", Model.Id)
                <button type="submit" class="btn btn-dark btn-block btn-sm">Submit</button>
                <div class="form-group">
                    <label class="h2 custom-control-label font-weight-bold">Add Comment </label>
                    <textarea name="body" class="form-control" rows="10"></textarea>
                </div>
            </form>
        }
        else
        {
            <a class="btn btn-dark btn-block btn-sm" asp-area="Identity" asp-page="/Account/Login">Login to Comment</a>
        }

        <article>
            <div class="row">
                <div class="col text-center h3">Post Tags</div>

            </div>
            <div class="row">
                <div class="col text-center">
                    @foreach(var tag in Model.Tags)
                    {
                        <a btn btn-warning btn-sm btn-outline-dark asp-action="TagIndex" asp-route-tag="@tag.Text?.ToLower()">#@tag.Text</a>
                    }
                </div>

            </div>

        </article>
    </div>
        <div>
        @if (User.IsInRole("Administrator") || (User.IsInRole("Author")))
                {
                   <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                   <span> | </span>
                }
                    <a asp-action="Index">Back to List</a>
        </div>
        <hr/>
        <button id="commentSection" class="btn btn-sm btn-dark btn-block">@Model!.Comments.Count COMMENT(s)</button>

    @foreach(var comment in Model!.Comments)
    {
    <div class="media media-border p-0 mb-2 bg-light">
    @* //Init imageService(Commentator's image') when comments are implemented in comments component *@
        <img class="mr-3 mt-3 rounded-circle" style="width:60px;" src="@imageService.DecodeImage(comment.Commentator!.ImageData!, comment.Commentator!.ImageType!)" />
        <div class="media-body">
            <h4>@comment.Commentator.FullName</h4>
            <small><i>Posted on : @comment.Created.ToString("MMM dd, yyyy")</i></small>
            <p>@comment.Body</p>

            @if (comment.Moderator is null && comment.Deleted is null && comment.CommentatorId == userManager.GetUserId(User))
            {
                <hr/>
                <button data-bs-toggle="modal" data-bs-target="#editModal"class="btn-sm btn-dark float-right font-weight-bold">EDIT</button>
            }

        </div>
    </div>
        @*Modals*@
        <div class="modal" id="editModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Editing Comment . . .</h4>

                    </div>
                <!--Modal body-->
                    <div class="modal-body">
                        <form asp-action="Edit" asp-controller="Comments"> 
                            @Html.Hidden("Id", comment.Id)
                            <div class="form-group">
                                <textarea name="Body"class="form-control" required>@comment.Body</textarea>
                            </div>

                        <button type="submit" class="btn-sm btn-dark border-success font-weight-bold">SUBMIT</button>

                        </form>
                    </div>
                <!--Modal FOOTER-->
                    <div class="modal-footer">

                        <button type="button" class="btn-sm btn-dark font-weight-bold" data-bs-dismiss="modal">CLOSE</button>

                    </div>
                
                </div>
            </div>
        </div>
    }




        
    
                    


