@using WonderDevBlogMVC2024.Services.Interfaces
@inject IImageService imageService
@model IEnumerable<WonderDevBlogMVC2024.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPostState)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.BlogPostState)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                    @if (item.ImageData != null)
                    {
                        <img src="@imageService.DecodeImage(item.ImageData, item.ImageType!)" class="img-fluid" alt="@(item.Title) Blog Image" style="max-width: 200px;" />
                    }
                    else
                    {
                        <img src="~/img/default_icon.png class="img-fluid" alt="Default Blog Image" style="max-width: 200px;" />
                    }
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
